<!-- Save the Date Section -->
<section id="welcome" class="section-spacing">
    <div class="max-w-4xl mx-auto text-center">
        <h2 class="section-title mb-6 sm:mb-8 lg:mb-12 select-none">
            Save the Date
        </h2>

        <div class="space-y-4 sm:space-y-6 lg:space-y-8 text-base-content/80">
            <p
                class="text-center text-[10px] sm:text-xs lg:text-base xl:text-lg text-base-content/60 mb-2 sm:mb-3 lg:mb-5 xl:mb-6 tracking-widest font-light uppercase"
            >
                August 7th, 2027
            </p>

            <p
                class="text-center text-xl sm:text-2xl lg:text-4xl xl:text-5xl font-bold text-base-content mb-6 sm:mb-8 lg:mb-14 xl:mb-16 tracking-tight"
            >
                Mark your calendars!<br />
            </p>

            <p
                class="text-base sm:text-lg lg:text-xl xl:text-2xl leading-relaxed max-w-3xl mx-auto"
            >
                We're getting married and would love for you to celebrate with
                us on our special day.
            </p>
            <div class="mt-8 sm:mt-10 lg:mt-14">
                <p class="text-sm sm:text-base lg:text-lg text-base-content/70">
                    Formal invitation to follow
                </p>
            </div>
        </div>
    </div>
</section>
