<div class="hero bg-base-100 pt-40">
    <div class="hero-content text-center">
        <div>
            <a href="/" class="no-underline">
                <h1 class="text-5xl font-bold">
                    <%= (data.metadata.find(meta => meta.name ===
                    "og:site_name")).content %>
                </h1>
            </a>
            <a href="/blog/posts" class="no-underline">
                <div
                    class="mockup-code text-left group transition-all bg-slate-200 dark:bg-base-200"
                >
                    <pre
                        class="h-full group-hover:text-primary transition-all bg-slate-200 dark:bg-base-200 text-wrap dark:text-base-content text-info-content"
                        data-prefix="$"
                    >
read about the lessons I have learned (from the mistakes I have made). </pre
                    >
                </div>
            </a>
        </div>
    </div>
</div>
