<div class="min-h-screen flex justify-center bg-base-100/95" id="home">
    <div
        class="w-full mx-auto m-3 sm:m-6 p-6 sm:p-10 max-w-7xl bg-base-100/95 backdrop-blur-sm rounded-box text-center">
        <h1 class="text-4xl font-bold mb-4">Dank Movies</h1>
        <p class="text-lg mb-8">Keep track of movies you want to watch.</p>

        <div class="flex justify-center gap-4">
            <a href="/movies/search" class="btn btn-primary">Search Movies</a>
            <a href="/watchlist" class="btn btn-secondary">My Watchlist</a>
        </div>
    </div>
</div>