<footer class="border-t border-base-300 bg-base-100/80 px-6 py-5 sm:py-10 backdrop-blur-sm">
    <div
        class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-4 text-sm text-base-content/60 sm:flex-row">
        <p class="font-light">
            ©
            <span x-text="new Date().getFullYear()"></span> Dank Movies All
            rights reserved.
        </p>
    </div>
</footer>