<!-- Mobile Menu Dropdown -->
<div
    class="fixed inset-x-0 top-[5.5rem] w-full border-b border-base-300 bg-base-100 shadow-lg md:hidden"
    x-show="navOpen"
    x-transition
    x-cloak
    style="z-index: 60; display: none"
>
    <div class="mx-auto max-w-7xl">
        <template x-for="item in navigation" :key="item.title">
            <a
                class="flex w-full items-start border-b border-base-300 px-6 py-4 text-left text-base font-semibold text-base-content transition duration-200 last:border-b-0 hover:bg-base-200"
                :href="item.href"
                @click="navOpen = false"
            >
                <span x-text="item.title"></span>
            </a>
        </template>
    </div>
</div>
